@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/* font-01 */

.noto-serif-font-01 {

  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* font-02 */



.inter-font-02 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */

.display-flex{
    display: flex;
}

.description {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}
.title-color{
    color: rgba(233, 90, 8, 1);
}
.btn-primary{
    background-color: rgba(233, 90, 8, 1);
    border: none;
    height: 50px;
    color: white;
    font-weight: 500;
    text-align: center;
    
}
.titlle{
    font-size: 3.12rem;
    font-weight: 700;
}
/* header style */
header{
    max-width: 1140px;
    margin: 0 auto;
}

/* nav style */

.Navbar{
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  
}



.nav-item{
    list-style: none;
    margin-right: 48px;
}
.nav-link{
    text-decoration: none;
    color: black;
}

#home{
    color: rgba(37, 36, 50, 1);
    font-weight: 600;
}
.S-A-color{
    color: rgba(137, 135, 161, 1);
}

/* Banner style */
.banner{
    margin-top: 120px;
    justify-content: space-between;
    
    
}

.banner-img{
        max-width: 100%;
        
}

.banner-tittle{
    font-size: 4rem;
    font-weight: 700;
}
/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* out plant */
.our-plant{
    margin-top: 120px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
   
}
.plant-info{
    text-align: center;
}

.card-img{
    width: 100%;
}
.card-tittle{
    font-size: 1.3rem;
    font-weight: 500;
}
.card-price{
    font-size: 1.3rem;
    font-weight: 700;
}

.card-info{
      text-align: center;
}
#btn-width{
    width: 100%;
}
/* plant lover */

.plant-lover{
   
    margin-top: 120px;
    gap: 60px;
   justify-items: center;
   
}
.plant-shop{
       
       height: 597px;

}
.shop-img{
    height: 100%;
    
}
.bagde{
    height: 286px;
    width: 286px;
    position: relative;
    left: 347px;
    bottom: 724px;
}
.shop-info{
    padding: 38px 0;
            

}
.shop-info ul li {
    margin-top: 20px;

}


/* latest Deal */

.latest-deal{
margin-top: 130px;
}

.deal-info{
    text-align: center;
}

/* deal package */

.deal-container{
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 25px;
}

.deal{
    /* background-image: url('../assets/deal-bloom.png'); */
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../assets/deal-bloom.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin-bottom: 25px;
    height: 206px;
    width: 366px; 
    border-radius: 15px;
    
}

.deal-1{
    /* background-image: url('../assets/deal-ana.png'); */
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../assets/deal-ana.png');

    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    /* border: 1px solid red; */
    height: 206px;
    width: 366px; 
}
.deal-card-2{
    /* background-image: url('../assets/deal-zabo.png'); */
            background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../assets/deal-zabo.png');

    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.deal-name{
    font-size: 1.25rem;
    color: white;
    font-weight: 700; 
}
.shop-link{
    
    font-weight: 500;
    color: white;
    justify-content: center;
    
    
}
.deal-name-2{
    font-size: 2.25rem;
    color: white;
    font-weight: 700;
}
.shop-link-2{
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    justify-content: center;
}


/* joint section */

.joint-section-2{
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-image: url('../assets/news-letter-bg.png');
    padding: 200px 305px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 120px;
}
.join-detail{
    border: 1px solid red;
}
.join-title2{
    font-size: 3.125rem;
    font-weight: 700;
    text-align: center;
    color: white;
}
.input-field{
    display: flex;
    justify-content: center;
    width: 100%;
}
.input-mail{
    padding: 20px 50px;

}

#joint-bg{
    max-width: 1400px;
    /* width: 100%; */
    background-image: url(../assets/news-letter-bg.png);
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.joint-section{
    margin-top: 130px;
    padding: 200px 300px;
}

.join-title{
    text-align: center;
    color: white;
    font-weight: 700;
}
.input-field{
    display: flex;
    gap: 0;
}
.input-join{
    height: 50px;
   border: none;
   width: 100%;
   padding-left: 20px;
}
.btn-subscribe{
    background-color: rgba(233, 90, 8, 1);
    border: none;
    height: 50px;
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 19px 53px;
    font-weight: 500;
}

/* Footer  */

.footer{
    display: flex;
    padding: 50px 160px;
    gap: 110px;
    background-color: rgba(255, 255, 255, 0.5);
    
}

.footer-list{
    list-style: none;
    margin-top: 32px;
}
.footer-list-a{
    text-decoration: none;
    color: rgba(107, 114, 128, 1);
    
}
.footer-social img{
    padding: 24px;
}

/* ------------------------ Responsive for small Device---------------------------- */

@media screen and (max-width:576px) {
    .responsiveness,
    .bagde{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        width: 100%;
    }
    
    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .plant-lover{
        flex-direction: column;
    }
    
    .plant-shop img{
    width: 100%;
    }
    .latest-deal{
        margin-top: 130px;
    }
    .deal-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .deal,
    .deal-1
    {
        width: 100%;
    }

    .joint-section{
        width: 100%;
    }
    .footer{
        flex-direction: column;
        padding: 0;
        gap: 0;
        /* justify-content: left; */
    }

    
}


