@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/* font-01 */

.noto-serif-font-01 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* font-02 */



.inter-font-02 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */

.display-flex{
    display: flex;
}

.description {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}
.title-color{
    color: rgba(233, 90, 8, 1);
}
.btn-primary{
    background-color: rgba(233, 90, 8, 1);
    border: none;
    height: 50px;
    color: white;
    font-weight: 500;
    text-align: center;
}
.titlle{
    font-size: 3.12rem;
    font-weight: 700;
}
/* header style */
header{
    max-width: 1140px;
    margin: 0 auto;
}

/* nav style */

.Navbar{
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  
}



.nav-item{
    list-style: none;
    margin-right: 48px;
}
.nav-link{
    text-decoration: none;
    color: black;
}

#home{
    color: rgba(37, 36, 50, 1);
    font-weight: 600;
}
.S-A-color{
    color: rgba(137, 135, 161, 1);
}

/* Banner style */
.banner{
    margin-top: 120px;
    justify-content: space-between;
    
    
}

.banner-img{
        max-width: 100%;
        
}

.banner-tittle{
    font-size: 4rem;
    font-weight: 700;
}
/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* out plant */
.our-plant{
    margin-top: 120px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
   
}
.plant-info{
    text-align: center;
}

.card-img{
    width: 100%;
}
.card-tittle{
    font-size: 1.3rem;
    font-weight: 500;
}
.card-price{
    font-size: 1.3rem;
    font-weight: 700;
}

.card-info{
      text-align: center;
}
#btn-width{
    width: 100%;
}
/* plant lover */
.plant-lover{
    margin-top: 120px;
    gap: 60px;
}

.shop-info{
    padding: 38px 0;
}
.shop-info ul li {
    margin-top: 20px;

}


/* ------------------------ Responsive for small Device---------------------------- */

@media screen and (max-width:576px) {
    .responsiveness{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        width: 100%;
    }
    
    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}


